@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
img {
  max-width: 100%;
}
/* Banner Area Css Start Here */
.banner-area {
  background: rgba(229, 84, 115, 0.1);
  padding-top: 50px;
}
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-heading {
  color: #272727;
  font-family: Lato;
  font-size: 80px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  width: 708px;
}
.banner-desc {
  margin: 32px 0px;
  width: 634px;
}
.banner-btn {
  padding: 20px 43px;
  border-radius: 8px;
  background: #e55473;
  text-decoration: none;
  color: #ffffff;
}
/* Banner Area Css End Here */
/* Flower Area Start Here */
.flowers-area {
  padding: 178px 0px 128px 0px;
}
.flower {
  display: flex;
  justify-content: space-between;
}
.flowers-box {
  flex-basis: 32%;
}
.flower-img {
  height: 450px;
  border-radius: 300px 300px 0px 0px;
  display: flex;
  align-items: end;
  justify-content: center;
}
.flower-backgound-one {
  background: rgba(167, 33, 98, 0.15);
}
.flower-backgound-two {
  align-items: center;
  background: rgba(5, 151, 160, 0.15);
}
.flower-backgound-three {
  background: rgba(71, 125, 17, 0.15);
}
.flower-img img {
  max-width: 70%;
}
.flower-title {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
  padding-top: 32px;
}
.flower-section-title {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.flower-section-desc {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  max-width: 594px;
  margin: 0 auto;
  padding: 24px 0px 48px 0px;
}
/* Flower Area End Here */
/* Support Area Start Here */
.support-area {
  padding:0px 0px 128px 0px;
}
.support {
  display: flex;
  justify-content: space-around;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
}
.single-support {
  text-align: center;
  margin: 86px 0px 87px 0px;
}
.support-title {
  color: rgba(39, 39, 39, 0.8);
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px;
  margin-top: 24px;
}
/* Support Area end Here */

